@font-face {
  font-family: 'MiSans Latin';
  font-style: normal;
  font-weight: 400;
  src: url('{{ resource "fonts/MiSansLatin-Regular.woff2" }}') format('woff2');
}

@font-face {
  font-family: 'MiSans Latin';
  font-style: normal;
  font-weight: 700;
  src: url('{{ resource "fonts/MiSansLatin-Bold.woff2" }}') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('{{ resource "fonts/source-code-pro-v11-all-charsets-500.woff2" }}') format('woff2');
}
